.highlight-1 .djs-visual > :nth-child(1) {
  stroke: green !important;
  fill: #cccccc !important;
}
.highlight-2 .djs-visual > :nth-child(1) {
  stroke: green !important;
  fill: #cce3fa !important;
}
.highlight-3 .djs-visual > :nth-child(1) {
  stroke: green !important;
  fill: #cce3fa !important;
}

/* 连线 */
.highlight-line-1 .djs-visual > :nth-child(1) {
  stroke: blue !important;
}
.highlight-line-2 .djs-visual > :nth-child(1) {
  stroke: red !important;
}
.highlight-line-3 .djs-visual > :nth-child(1) {
  stroke: yellow !important;
}
